@charset "UTF-8";

@font-face {
    font-family: 'Sans grosso';
    src: url('fontes/static/SourceSans3-Black.ttf') format('opentype');
    font-weight: normal;
}

:root{
    --fonte-padrao: Arial, verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue' 'cursive';
    --fonte-Sans1: 'Sans grosso', 'cursive';
}

:root{
    --cor-01: #26A03D;
    --cor-02: #229BDB;
    --cor-03: #29DAF0;
    --cor-04: #042758;
    --cor-05: #010937;
    --cor-06: white;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: var(--cor-05);
    font-size: 16px;
    font-family: var(--fonte-padrao);
    /*overflow-x: hidden;  Adiciona overflow-x: hidden para ocultar barras de rolagem lateral */
}

header{
    background-color: var(--cor-05);
    background-image: linear-gradient(to bottom, var(--cor-05), var(--cor-04));
    padding: 10px 80px 10px 20px;
    margin: 0px;
}

header > h1{
    font-family: var(--fonte-destaque);
}


header > p{
    font-size: 1em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

nav{
    background-color: var(--cor-04);
    padding: 12px 10px;
    margin: 0px;
}

nav > a{
    color: white;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: aqua;
    text-decoration: none;
}

section{
    color: white;
    padding: 25px 10px 25px 10px;
    margin: auto;
}

section.fundo{
    padding: 40vh 0px 15vh 30px;
    margin: 0px;
    background-color: rgba(51, 51, 51);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.747);
}

section#img{
    background-image: url('imagens/Poster\ 1500.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section.box-image{
    width: 700px;
    height: 250px;
}

/* PARAMOS AQUI */
section.box-3{
    background-color: white;
    color: black;
}

div{
    display: block;
    color: white;
    padding: 12px 23px;
    margin: auto;
}

div.box-titulo{
    font-family: var(--fonte-Sans1);
    text-align: center;
    color: white;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    padding: 20px;
    margin: 7px;
    font-size: 25px; 
}

div.HQs{
    display: block;
    height: 250px;
    width: 190px;
}

div.hq{
    width: 100%;

}